<h1>Login!</h1>

<form>
{{ input type="text" value=email }}
{{ input type="password" value=password }}
<label>Remember Me?</label>
{{ input type="checkbox" checked=rememberMe }}

<button {{ action 'logMeIn' this }}>Login</button>
</form>
<h2>Or just log in with Twitter</h2>
<button {{action 'loginTwitter'}}>Twitter Login</button>
